* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;            
  padding: 6px 12px;               
  border-radius: 6px;                 
  transition: transform 0.3s ease,    
              color 0.3s ease,
              background-color 0.3s ease,
              box-shadow 0.3s ease;
}

a:hover {
  transform: scale(1.08);            
  color: #1a1a1a;                   
  background-color: #f0f0f0;         
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#navbar {
  height: 60px;
  padding: 0 15px;
  border: 1px solid black;

  align-items: center;
  justify-content: flex-start;
  background: #f0c50d;
  
}
#navbar a {
  margin: 0 10px;
  color: #29233a;
}
main {
  background-color: #29233a;
  padding: 30px;
  color: #ffffff;
}
#heading {
  display: block;
  text-align: center;
  margin: 20px 0;
}
#heading h2 {
  margin: 20px 0;
}

.box {
  height: 300px;
  width: 300px;
  margin: 10px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  background: #ffffff;
  color: black;
  object-fit: contain;

  transition: transform 0.3s ease,
              color 0.3s ease,
              background-color 0.3s ease,
              box-shadow 0.3s ease;
}

.box:hover {
  transform: scale(1.08); 
}
.box h3 {
  margin: 15px;
}
#usBox {
  background: #f0c50d;
}
#box1 {
  background: url("./assets/pexels-furkan-gunes-45417726-7461108.jpg");
  background-repeat: no-repeat; /* שלא יחזור */
  background-position: center center; /* ממרכז אופקית ואנכית */
  background-size: cover;
}
#box2 {
  background: url("./assets/pexels-kindelmedia-8487401.jpg");
  background-repeat: no-repeat; /* שלא יחזור */
  background-position: center center; /* ממרכז אופקית ואנכית */
  background-size: cover;
}
#box3 {
  background: url("./assets/pexels-victormoragriega-29379923.jpg");
  background-repeat: no-repeat; /* שלא יחזור */
  background-position: center center; /* ממרכז אופקית ואנכית */
  background-size: cover;
}
